<!DOCTYPE html>
<html lang="en">

<head>
    <title>Wishlist</title>
    <%- include('../components/head')%>
    <link href="../styles/wishlist.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header>
        <img id="logo" src="../../styles/img/logoimage.png">
        <%- include('../components/nav') %>

    </header>
    <main>
        <% plant.forEach(plant =>{ %>
        <section>
            <div class="image-container">
                <img src="<%= plant.image_url %>" alt="Photo of a <%= plant.common_name %>">
            </div>
            <div id="plant-title">
                <h2><%= plant.common_name %></h2>
                <h4><%= plant.scientific_name %></h4>
            </div>
            <div>
                <form class="favorite-result" action="/addmygarden?_method=PUT" method="post">
                    <input type="hidden" name="scientific_name" value="<%= plant.scientific_name %>">
                    <button type="submit">Add to my Garden</button>
                </form>
                <form class="favorite-result" action="/removefromwishlist?_method=PUT" method="post">
                    <input type="hidden" name="scientific_name" value="<%= plant.scientific_name %>">
                    <button type="submit">Remove from my Wishlist</button>
                </form>
                <a class="favorite-result" id="go-to-shopping"
                    href="https://www.google.com/search?psb=1&tbm=shop&q=<%= plant.common_name %>+plant">Search Google
                    Shopping For
                    This
                    Plant</a>
            </div>
        </section>
        <% }) %>

    </main>
    <footer>

    </footer>
</body>

</html>