<!DOCTYPE html>
<html lang="en">

<head>
    <title>Results</title>
    <%- include('../components/head')%>
    <link href="../styles/searches.css" rel="stylesheet" type="text/css">
</head>

<body>

    <header>
        <%- include('../components/nav') %>
        <img id="logo" src="https://via.placeholder.com/30">
        <form id="second-search" action="/search" method="get">
            <input id="search-bar" type="text" name="namedsearch" placeholder="Search For Another Plant">
            <button type="submit">Search</button>
        </form>
    </header>

    <main>
        <h2>Viewing results for <%= searchedfor %></h2>
        <section>
            <% searchresults.forEach(plant=>{ %>
            <form class="search-result" action="/viewdetails" method="POST">
                <input type="hidden" name="id" value="<%= plant.id %>">
                <div class="image-container">
                    <img src="<%= plant.image_url %>" alt="<%= plant.common_name %>">
                </div>
                <h2> <%= plant.common_name %> </h2>
                <h3> <%= plant.scientific_name %> </h3>
                <button type="submit">View Details</button>
            </form>
            <% }) %>
        </section>

    </main>



</body>

</html>