<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <header>
        <%- include('../components/nav') %>

    </header>

    <main>
        <section>
            <h2>Viewing results for <%= searchedfor %></h2>
            <form action="/search" method="get">
                <input type="text" name="namedsearch" placeholder="Search For Another Plant">
                <button type="submit">Search</button>
            </form>
        </section>
        <section>
            <% searchresults.forEach(plant=>{ %>
            <form action="/viewdetails" method="POST">
                <input type="hidden" name="id" value="<%= plant.id %>">
                <img src="<%= plant.image_url %>" alt="<%= plant.common_name %>">
                <h2> <%= plant.common_name %> </h2>
                <h3> <%= plant.scientific_name %> </h3>
                <button type="submit">View Details</button>
            </form>
            <% }) %>
        </section>

    </main>



</body>

</html>